server:
  port: 8080

spring:
  profiles:
    active:
      - test
  datasource:
    url: "jdbc:mysql://localhost:3306/univBackendDB"
    username: root
    password: class Kushal{PASS}
    driver-class-name: "com.mysql.cj.jdbc.Driver"
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size:
        "10MB"
      max-request-size:
        "10MB"